modules = ["cpp-clang14", "swift-5.8", "web"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "hdf5", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tesseract", "tk", "zlib", "flutter", "android-tools", "openjdk11"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Flutter Run"

[[workflows.workflow]]
name = "Flutter Run"
author = 44533292
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ocr_extractor && flutter pub get && flutter run"

[[ports]]
localPort = 5000
externalPort = 80
